.profile__container {
  display: flex;
  flex-direction: column;

  background-color: var(--dark-blue);
  margin-bottom: 1rem;

  border-radius: 15px;
}

.profile {
  padding: 2rem;
  display: flex;
  align-items: center;

  background-color: var(--blue);

  border-radius: 15px;
}

.profile img {
  height: 4rem;
  border-radius: 90q;
  border: 3px solid white;
}

.profile > .profile__text {
  display: flex;
  flex-direction: column;

  margin-left: 1rem;
  font-size: 1rem;
}

.profile > .profile__text > .profile__name {
  font-size: 1.5rem;
  font-weight: 300;
}

.profile__container > .viewing__options {
  display: flex;
  justify-content: space-between;

  padding: 1.5rem 2rem;
  color: var(--desaturated-blue);
  font-weight: 400;
}

.profile__container > .viewing__options > .active {
  color: white;
}